<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link href = "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
<link href="/public/css/main.css" rel="stylesheet">
<link href="/public/css/base.css" rel="stylesheet">
<link href="/public/css/giohang.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
<link href="/public/css/fonts/fontawesome-free-6.1.1-web/css/all.min.css" rel="stylesheet">
 <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
</head>
{{> Header}}
		<div class="container">
			<div class="grid">
				<div>
					<div class="">
						<div class="row">
							<nav class="collapse navbar-collapse bs-navbar-collapse"
								role="navigation">
								<ul class='main-nav nav navbar-nav menu'>
									<li class="menu level0"><a class=''
										href='/cakeshop'>Trang
												chủ</a></li>
									<li class="menu level0"><a class=''
										href='/cakeshop/product'>Sản
												phẩm</a></li>
									<li class="menu level0"><a class='' href='/cakeshop/introduce'>Giới
												thiệu</a></li>
									<li class="menu level0"><a class='' href='/cakeshop/contact'>Liên
												hệ</a></li>
									<li class="menu level0" style="margin-left: 430px;"><a class='' href='/cakeshop/cart/inf/confirm'>Theo giõi đơn hàng</a></li>
									<li class="menu level0"><a class='' href='/cakeshop/history'>Lịch sử mua</a></li>
								</ul>
								<hr>
							</nav>
						</div>
					</div>
				</div>
				</div>
				</div>
	<div class='container gio_hang'>
	<div class='grid'>
		<table class='trong_giohang'>
			<tr >
				<th>Sản phẩm</th>
				<th>Số lượng</th>
				<th>Tổng giá</th>
			</tr>
			{{#each product}}
			<tr class="item" style="text-align: center;">
				<td>
					<div class='san_pham'>
						<img src='{{this.Link_image}}'>
						<div>
							<p>{{this.Name_product}}
							<small id="giatien{{this.Id_cart_detail}}" >Giá: {{this.Price}}</small>
						</div>
					</div>
				</td>
				<td>{{this.Quantity}}</td>
				<td id="tonggia{{this.Id_cart_detail}}" >{{this.Total_price}} </td>
			</tr>
			<script>
								  document.getElementById("giatien{{this.Id_cart_detail}}").innerText =  `${document.getElementById("giatien{{this.Id_cart_detail}}").innerText}`.replace(/\B(?=(\d{3})+(?!\d))/g, '.') +" VND";
								   document.getElementById("tonggia{{this.Id_cart_detail}}").innerText =  `${document.getElementById("tonggia{{this.Id_cart_detail}}").innerText}`.replace(/\B(?=(\d{3})+(?!\d))/g, '.') +" VND"
							</script>
			{{/each}}
		</table>
		

		</div>
		 <ul class="listPage">
           
                                            </ul> 
                                            <script src="/public/pageging.js"></script>
	</div>	
{{> Footer}}
</body>
</html>