<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	
    <link
	href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
	rel="stylesheet">
<link href="/public/css/main.css" rel="stylesheet">
<link href="/public/css/base.css" rel="stylesheet">
	<link href=  "/public/css/sanpham.css" rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
	rel="stylesheet">
<link
	href="/public/css/fonts/fontawesome-free-6.1.1-web/css/all.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>
<body>
	{{> Header}}
	<div class="app">
		<div class="container">
			<div class="grid">
				<div>
					<div class="">
						<div class="row">
							<nav class="collapse navbar-collapse bs-navbar-collapse"
								role="navigation">
								<ul class='main-nav nav navbar-nav menu'>
									<li class="menu_level1" style="margin: 5px 0px 0 0px; padding: 0px 0px 0px 0px;border-radius: 5px;">
									<span>Trang chủ</span></a></li>
									<li class="menu level0"><a class=''
										href='/cakeshop/product'><span>Sản
												phẩm</span></a></li>
									<li class="menu level0"><a class='' href='/cakeshop/introduce'><span>Giới
												thiệu</span></a></li>
									<li class="menu level0"><a class='' href='/cakeshop/contact'><span>Liên
												hệ</span></a></li>
								</ul>
								<hr>
							</nav>
						</div>
					</div>
				</div>

				<div class="slideshow-container">
					{{#each fepro}}
					<div class="mySlides fade">
						<img
							src="{{this.Link_image}}"
							style="width: 100%">
					</div>
					{{/each}}
				</div>
				<br>

				<div style="text-align: center">
					{{#each fepro}}
					<span class="dot" onclick="currentSlide({{this.Id_product}})"></span>
					{{/each}} 
				</div>

				<script>
					let slideIndex = 0;

					showSlides();
					function showSlides() {
						let i;
						let slides = document
								.getElementsByClassName("mySlides");
						let dots = document.getElementsByClassName("dot");
						for (i = 0; i < slides.length; i++) {
							slides[i].style.display = "none";
						}
						slideIndex++;
						if (slideIndex > slides.length) {
							slideIndex = 1
						}
						for (i = 0; i < dots.length; i++) {
							dots[i].className = dots[i].className.replace(
									" active", "");
						}
						slides[slideIndex - 1].style.display = "block";
						dots[slideIndex - 1].className += " active";
						setTimeout(showSlides, 4000);
					}
				</script>
			</div>
			<div class="grid">
				<div class="product__head">
					<h2 class="product__first">SẢN PHẨM NỔI BẬT</h2>
					<div class="swiper mySwiper">
						<div class="swiper-wrapper">
							{{#each fepro}}
							<div class="swiper-slide">
								<div class="slider-product">
									<div class="product__infor-img">
										<div class="img"
											style="background-image: url({{this.Link_image}})"></div>
										<div class="over__lay">
											<a class="btn__buy" href="/cakeshop/product/id/{{this.Id_product}}">mua ngay</a>
										</div>
									</div>
									<div class="product__detail">
										<h4 class="product__name">{{this.Name_product}}</h4>
										<div class="product__price">
											<h4 id="giatienfe{{this.Id_product}}" class="product__price-gia">{{this.Price}}</h4>
										</div>
									</div>
								</div>
							</div>
							{{/each}}	
							</div>						
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>
					<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
					<script>
						var swiper = new Swiper(".mySwiper", {
							slidesPerView : 5,
							spaceBetween : 1,
							slidesPerGroup : 1,
							loop : true,
							loopFillGroupWithBlank : true,
							pagination : {
								el : ".swiper-pagination",
								clickable : true,
							},
							navigation : {
								nextEl : ".swiper-button-next",
								prevEl : ".swiper-button-prev",
							},
						});
					</script>
				</div>
			</div>

		</div>

		<div class="product__contianer">
			<div class="grid">
				<div class="grid__row">
					<div class="grid__column-2">
						<nav class="category">
							<h3 class="category__heading">
								<i class="category__heading-icon fas fa-list"></i> Danh mục
							</h3>
							<ul class="category-list">
                                {{#each cate}}
								<li class="category-item "><a href="/cakeshop/product/category/{{this.Id_category}}"
									class="category-item__link">{{this.Name_category}}</a>
									<hr></li>
                                {{/each}}
							</ul>
						</nav>
					</div>
					<div class="grid__column-10">
						<div>
							<h3 class="category__heading">
								<i class="category__heading-icon fas fa-list"></i> Sản Phẩm
							</h3>
						</div>
						<div class="grid__row2	">
							{{#each product}}
							<div class="item grid__column-2-4">							
									<div class="slider-product">
										<div class="product__infor-img">
											<div class="img"
												style="background-image: url({{this.Link_image}})"></div>
											<div class="over__lay">
												<a class="btn__buy" href="/cakeshop/product/id/{{this.Id_product}}">mua ngay</a>
											</div>
										</div>
										<div class="product__detail">
											<h4 class="product__name">{{this.Name_product}}</h4>
											<div class="product__price">
												<h4 id="giatien{{this.Id_product}}" class="product__price-gia">{{this.Price}}</h4>
												<h4 id="soluong{{this.Id_product}}" class="product__price-gia"></h4>
											</div>
										</div>
									</div>								
							</div>
							<script>
								if({{this.Quantity_pro}} - {{this.Quantity_pro_bought}} > 0){
							document.getElementById("soluong{{this.Id_product}}").innerText = "Số lượng bánh: " + String({{this.Quantity_pro}} - {{this.Quantity_pro_bought}})
								}else{
									document.getElementById("soluong{{this.Id_product}}").innerText = `Số lượng bánh: 0`
								}
								  document.getElementById("giatien{{this.Id_product}}").innerText =  `${document.getElementById("giatien{{this.Id_product}}").innerText}`.replace(/\B(?=(\d{3})+(?!\d))/g, '.') + " VND"
								  document.getElementById("giatienfe{{this.Id_product}}").innerText =  `${document.getElementById("giatienfe{{this.Id_product}}").innerText}`.replace(/\B(?=(\d{3})+(?!\d))/g, '.') + " VND" 
							</script>
							{{/each}}
							</div>
							<ul class="listPage">
           
                                            </ul> 
                                            <script src="/public/Propageging.js"></script>

		
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{> Footer}}
</body>
</html>